<md-content layout="column" layout-wrap layout-align="space-between">
  <section layout="row" flex>
    <h3 flex>{{playlistCtrl.name}}</h3>
    <section layout="row">
      <md-button ng-click="playlistCtrl.play()" class="md-primary">Play</md-button>
      <md-button ng-click="onDelete($index)" class="md-warn">Remove</md-button>
    </section>
  </section>
  <section>
    <md-chips ng-model="playlistCtrl.songs" readonly="true">
      <md-chip-template>
          {{$chip}}
      </md-chip-template>
    </md-chips>
  </section>
</md-content>
