/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.song-list {
  width: 60%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.song-tile {
  height: 100px;
  width: 100px;
  border: 1px solid #626262;
  margin: 3px;

  opacity: 0.8;
  background:#37474F;
  transition: all 400ms ease-out 50ms;
  h3 {
    width: 85%
  }
}

.song-tile:hover, .song-tile.playing {
  opacity: 1;
}
