<div layout="column" layout-margin layout-fill layout-padding >
  <md-grid-list class="song-list" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile class="song-tile" ng-class="{'playing': song.playing}" md-rowspan="2" md-colspan="2" ng-repeat="song in songListCtrl.songsAvailable">
      <h3>
        <md-slider
          ng-model="song.volume"
          ng-change="setVolume(song)"
          ng-disabled="!song.audio || !song.playing"
          step="0.1"
          min="0"
          value="0.5"
          max="1"
          aria-label="rating"></md-slider>
      </h3>
      <md-grid-tile-footer ng-click="toggleSong(song.name)">
        <h3 ng-bind="song.title"></h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>

<a href="#" class="btn"
  ng-click="songListCtrl.toggleGlobalSound()"
  ng-model="songListCtrl.globalSound"
  ng-bind="(songListCtrl.globalSound ? 'mute': 'play') + ' all'"></a>
