<p>{{songTileCtrl.name}}</p>
<div class="song-tile" ng-class="{'playing': song.playing}" md-rowspan="2" md-colspan="2">
  <h3>
    <!--<md-slider-->
      <!--ng-model="song.volume"-->
      <!--ng-change="setVolume(song)"-->
      <!--ng-disabled="!song.audio || !song.playing"-->
      <!--step="0.1"-->
      <!--min="0"-->
      <!--value="0.5"-->
      <!--max="1"-->
      <!--aria-label="rating"></md-slider>-->
  </h3>
  <div ng-click="toggleSong(song.name)">
    <h3 ng-bind="song.title"></h3>
  </div>

</div>
