<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- endbuild -->
  </head>
  <body ng-app="soundsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="container" ng-controller="MainCtrl as ctrl">
      <div class="header">
        <h3 class="text-muted">sounds</h3>
      </div>
      <div ng-repeat="song in ctrl.available">
        <button
          class="btn"
          ng-class="song.playing === true ? 'btn-success' : 'btn-danger'"
          ng-click="ctrl.toggleSong(song.name)"
          ng-bind="song.title">
        </button>
        <input
          type="range"
          max="1"
          step="0.1"
          ng-model="song.volume"
          ng-hide="!song.audio || !song.playing"
          ng-change="ctrl.setVolume(song)">
      </div>
      <a href="#" class="btn"
        ng-click="ctrl.toggleGlobalSound()"
        ng-model="ctrl.globalSound"
        ng-bind="(ctrl.globalSound ? 'mute': 'play') + ' all'"></a>

      <h2>playlists</h2>
      <button
        class="btn"
        ng-class="{'btn-danger': !ctrl.editMode, 'btn-success': ctrl.editMode}"
        ng-click="ctrl.playlistToggleEditMode()" >
        Edit Mode
      </button>

      <button
        class="btn"
        ng-click="ctrl.copySampleLists()">
        copy samples
      </button>

      <h3
        ng-repeat-start="list in ctrl.playlists"
        ng-click="ctrl.startPlaylist(list.songs)"
        ng-hide="ctrl.editMode"
        ng-bind="list.name">
      </h3>
      <input type="text"
        ng-model="list.name"
        ng-show="ctrl.editMode" />
      <ul>
        <li ng-repeat="song in list.songs">{{song}}</li>
      </ul>
      <button
        class="btn btn-danger"
        ng-hide="!ctrl.editMode"
        ng-click="ctrl.playlistDelete(list.name)"
        ng-bind="'delete ' + list.name + '?'">
      </button>
      <button
        ng-repeat-end
        class="btn"
        ng-hide="!ctrl.editMode"
        ng-click="ctrl.playlistEdit(list.name)">
        edit
      </button>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->

    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
