<h2>playlists</h2>
<button class="btn" ng-class="{'btn-danger': !editMode, 'btn-success': editMode}" ng-click="playlistToggleEditMode()" > Edit Mode </button>
<button class="btn" ng-click="copySampleLists()">copy samples</button>

<h3 ng-repeat-start="list in playlists" ng-click="startPlaylist(list.songs)" ng-hide="editMode" ng-bind="list.name"> </h3>
<input type="text" ng-model="list.name" ng-show="editMode" />
<ul>
	<li ng-repeat="song in list.songs">{{song}}</li>
</ul>

<button class="btn btn-danger" ng-hide="!editMode" ng-click="playlistDelete(list.name)"ng-bind="'delete ' + list.name + '?'"> </button>
<button ng-repeat-end class="btn" ng-hide="!editMode" ng-click="playlistEdit(list.name)"> edit </button>